<!DOCTYPE html>
<!-- https://github.com/thedaviddias/Front-End-Checklist -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <title>PureScript App</title>
  <meta name="description" content="My super sik PureScript app">
  <link rel="icon" type="image/png" href="http://www.purescript.org/img/favicon_clear-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="http://www.purescript.org/img/favicon_clear-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="http://www.purescript.org/img/favicon_clear-256.png" sizes="256x256">
</head>

<body>
  <div id="purescript-app"></div>
</body>

</html>
